body{
    margin: 0%;
    padding: 0%;
}
:root{
    --primary-color:#3a1f14;
    --secondary-color:
}
.top{
    border:  #3a1f14;
    background-color: #3a1f14 ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
    position: fixed;
    z-index: 9;
    background-color: #3a1f14;
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 1.5vw;
    color: #fff;
}
/* a:hover{
    color: #b67a62 ;
    text-decoration: underline;
} */
a:active{
    color: #b67a62 ;
    text-decoration: underline;
}
.components>ul>li{
    list-style-type: none;
    display: inline-block;
    padding-left: 3vw;
}
#check{
    display: none;
}
.components .currentButton{
    background-color: rgb(102, 44, 2);
}
.innercover{
    display: flex;
    justify-content: center;
}
.imagecover{
    width: 30%;
    height: 500px;
    
}
.imagecover>img{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.formlayout form label{
    color: #fff;
}
.formlayout form input{
    color: #3a1f14;
    outline: none;
}
.formlayout form select{
    color: #3a1f14;
    outline: none;
}
.formlayout form p{
    color: #fff;
    font-size: 2rem;
    font-weight: 550;
}
#avalaibilitybut{
    height: 2.5rem;
    width: 20rem;
    background-color:#3a1f14 ;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
}
.filter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:#3a1f14;
    outline: none;
    padding: 2rem 2rem 2rem 2rem;
    margin: 6rem 6rem 6rem 6rem;
    border-radius: 10px;
}

.formlayout{
    background-color: #a55333a4;
    padding: 2rem 2rem 2rem 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#checkindate{
    height: 2.5rem;
    width: 19.7rem;
}
#checkoutdate{
    height: 2.4rem;
    width: 19.7rem;
}
#roomType{
    height: 2.4rem;
    width: 20rem;
}
#roomClass{
    height: 2.5rem;
    width: 20rem;
}
.formcover{
    background-color:#3a1f14 ;
    margin: 6rem 6rem 6rem 6rem;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 10px; 
}
.imgform{
    width: 100%;
    height: 513.5px;
}
.iframe{
    display: flex;
    justify-content: center;
    
}
iframe{
    width:70%; 
    height:600px;
    border:0; 
    margin-bottom: 10px;
}
.homefacalities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #3a1f14; */
}
.home{
    width: 32%;
    margin: 2rem 2rem 2rem 2rem;
}
.himage{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.home:hover{
    transform: scale(1.05);
    

}
.homefacalities>p{
    color: #3a1f14;
}
.components .current{
    text-decoration: underline;
    text-decoration-color: #a55333;
    text-decoration-thickness:  2px;;
}
.logo a{
    margin-left: 2vw;
    font-size: 3vw;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
}
#search{
    background-color: #7f4028;
}
#filter_table{
    width: 100%;
    color: #fff;
}
.filterResult{
    /* border: solid 1px ; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:#3a1f14;
    outline: none;
    padding: 2rem 2rem 2rem 2rem;
    margin: 6rem 6rem 6rem 6rem;
    border-radius: 10px;
    display: none;
}
@media (max-width: 768px){
    .filter{
        background-color: #fff;
    }
    #filter_form{
        background-color: #7f4028;
        padding: 2rem 2rem 2rem 2rem;
    }
    #category,#class{
        margin-bottom: 2rem;
    }
    .formlayout form p{
        font-size: 1.6rem;
    }
    #search{
        background-color: #3a1f14;
    }
    .formlayout{
        background-color:#a55333;
        border-radius: 10px;
    }
    .formcover{
        background-color: white;
    }
    iframe{
        height: 400px;
    }
    .logo a{
        position: absolute;
        top: .65rem;
        left: 1rem;
        font-size: 1.3rem;
        z-index: 10;
        text-decoration: none;
    }
    .components{
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 9;
        height: 100vh;
        background-color: #3a1f14;
        /* border-radius: 5px; */
        padding: 0%;
        margin: 0%;
        left: -100%;
        transition: all .5s;
    }
    .components ul li a{
        font-size: 1rem;
        padding: .2rem;
        top: 2rem;
        position: relative;
        display: inline-block;
    }
    .components ul li a:hover,.components ul li a.active{
        color: #ad8778;
    }
    #check{
        display: none;
    }
    #check:checked ~ .components{
        left: 0;
    }
    .components ul{
        display: inline-flex;
        flex-direction: column;
    }
    .components li{
        margin: 0%;
        padding: 0%;
        font-size: 2rem;
    }
    .toggle-button{
        position: absolute;
        top: .55rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        z-index: 10;
    }
    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        height: 2.5rem;
        position: fixed;
        z-index: 9;
        background-color: #3a1f14;
        width: 100%;
    }
    .components li a button{
        height: 2rem;
        width: 4rem;
        font-size: .6rem;
        border-radius: 7px;
        margin-top: 0%;
        padding-top: 0%;
    }
}
.bookbutton{
    margin-right: 2vw;
    font-size: 1.2vw;
    background-color: #a55333;
    border: 1px solid #a55333;
    color: #fff;
    height: 4vw;
    width: 9.8vw;
    border-radius: 0.3vw;
    cursor: pointer;
}

.image{
    width: 78%;
    /* border: 2px solid #3a1f14; */
}
.text{
    width:22%;
    border: solid 2px #3a1f14;
}
.img-text{
    display: flex;
}
.img-1{
    width: 100%;
    height: 100%;
}
.text{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 4;
   background-color:#3a1f14 ;
   
}
.main-1{
    font-size: 6.7vw;
    margin-left: 47vw;
    padding-bottom: 0%;
    margin-bottom: 0%;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.sub-1{
    display: inline-block;
    font-size: 1.5vw;
}
.sub-but{
    font-size: 1.3vw;
    margin-top: 0%;
    padding-top: 0%;
    height: 4.2vw;
    background-color: #a55333;
    border: 1px solid #a55333;
    width: 9.8vw;
    color: #fff;
    border-radius: 0.3vw;
}
.mid-1{
    font-size: 2.5vw;
    text-align: center;
    margin: 8vw 15vw 3vw 15vw;
    color: #3a1f14;
    font-weight: 500;
}
.mid-2{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: 8vw 15vw 3vw 15vw;

}
.mid-2-1{
    /* border: 2px solid black; */
    /* width: 33.5vw;
    height: 33.5vw; */
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    /* height: 50%; */
}
.mid-2-2{
    /* border: 2px solid black; */
    /* width: 33.5vw;
    height: 33.5vw; */
    width: 60%;
    /* height: 60%; */
}
.mid-2-1>p{
    font-size: 2vw;
    line-height: 3vw;
    color: #a55333;
}
.mid-2-1>span{
    color: rgb(133, 129, 129);
    font-size: 1.1vw;
}
.mid-2-1>a>button{
    font-size: 1.3vw;
    margin-top: 0%;
    padding-top: 0%;
    height: 3.5vw;
    background-color: #a55333;
    border: 1px solid #a55333;
    width: 9.8vw;
    color: #fff;
    border-radius: 0.3vw;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vw 15vw 3vw 15vw;
    flex-direction:column;
}
.hotel_video{
    width: 100%;
}
.video>p{
    color: #a55333;
    font-size: 4vw;
}
.faca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vw 15vw 3vw 15vw;
}
.faca-1-img{
    width: 60%;
    padding-right: 3vw;
}
.faca-1-cont{
    width: 40%;
    color:rgb(133, 129, 129);
    font-size: 1.5vw;
    line-height: 2vw;
}
.faca-1-image{
    width: 100%;
}
.facalities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
}
.faca-hed-1{
    font-size: 5vw;
    color: #3a1f14;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.head-1{
    color: #a55333;
    font-size: 2.5vw;
}
.foot-1{
    color: #a55333;
    font-size: 2.5vw;
    font-weight: 500;
}
.mid4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 40%;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 3vw;
    margin-right: 3vw;
}
.form>p{
    font-size: 3vw;
    color: #a55333;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* #roomType{
    width: 17.5rem;
    height: 2rem;
    color: rgb(133, 129, 129);
}
#roomClass{
    width: 17.5rem;
    height: 2rem;
    color: rgb(133, 129, 129);
}
#Check-in{
    width: 17rem;
    height: 2rem;
    color:  rgb(133, 129, 129);
}
#Check-out{
    width: 17rem;
    height: 2rem;
    color:  rgb(133, 129, 129);
} */
#c-a{
    width: 17.5rem;
    height: 2rem;
    background-color:#a55333;
    border: solid 2px #a55333;
    color: #fff;
}
.mid4-1{
    width: 60%;
    padding-right: 2vw;
}
.mid4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.left{
    padding-left: 30px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex: 0; */
    background-color: #3a1f14 ;
    flex-wrap: wrap;
    margin-bottom:0px; ;
}
.right ul li{
    display: inline-block;
    list-style: none;
    margin: 1vw;
    /* padding-right: 30px; */
}



